################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/AlfaguaraClub
/AlfaguaraClub.Backend.Api/obj
/AlfaguaraClub.Backend.Application/obj
/AlfaguaraClub.Backend.Domain/obj
/AlfaguaraClub.Backend.Infraestructure/obj
/AlfaguaraClub.Backend.Persistence/obj
/AlfaguaraClub.Backend.Api/bin/Debug/net8.0
/AlfaguaraClub.Backend.Application/bin/Debug/net8.0
/AlfaguaraClub.Backend.Domain/bin/Debug/net8.0
/AlfaguaraClub.Backend.Infraestructure/bin/Debug/net8.0
/AlfaguaraClub.Backend.Persistence/bin/Debug/net8.0
/.vs/ProjectEvaluation
/AlfaguaraClub.Application.UnitTest/bin/Debug/net8.0
/AlfaguaraClub.Application.UnitTest/obj
/AlfaguaraClub.Persistence.IntegrationTest/bin/Debug/net8.0
/AlfaguaraClub.Persistence.IntegrationTest/obj/Debug/net8.0
/AlfaguaraClub.Persistence.IntegrationTest/obj
/AlfaguaraClub.Backend.Api/bin/Release/net8.0
/AlfaguaraClub.Backend.Api/.config
/AlfaguaraClub.Backend.Api/Properties/PublishProfiles
/AlfaguaraClub.Backend.Api/AlfaguaraClub.Backend.Api.csproj.user
/AlfaguaraClub.Backend.Application/bin/Release/net8.0
/AlfaguaraClub.Backend.Domain/bin/Release/net8.0
/AlfaguaraClub.Application.UnitTest/bin/Release/net8.0
/AlfaguaraClub.Backend.Infraestructure/bin/Release/net8.0
/AlfaguaraClub.Backend.Persistence/bin/Release/net8.0
/AlfaguaraClub.Persistence.IntegrationTest/bin/Release/net8.0
/.vs
